{{> header }}

   {{> navbar }}

  <div class="jumbotron">
        <div class="col-5">
            
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Clima España</h5>
    <p class="card-text">{{ cm }}</p>
    <a href="#" class="btn btn-primary">Mas información</a>
  </div>
</div>

</div>

<div class="col-5">

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Clima Francia</h5>
    <p class="card-text">{{ cp }}</p>
    <a href="#" class="btn btn-primary">Mas información</a>
  </div>
</div>

</div>
    </div>








{{> footer }}