{{> header }}

   {{> navbar }}

    <div class="jumbotron">
        <h1 class="display-4">Hola, {{ capitalizar nombre }} el clima de hoy es:</h1>
    </div>
    <div class="container">
  <div class="row">
    <div class="col">
      Quito
    </div>
    <div class="col">
      <h1 class="display-4"></h1>
    </div>
  </div>
<div class="container">
  <div class="row">
    <div class="col">
      Guayaquil
    </div>
    <div class="col">
      <h1 class="display-4"></h1>
    </div>
  </div>
{{> footer }}
   